@{
    ViewBag.Title = "RequestPennding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request Pending</h2>

<p>Your request to join the clan is pending. Contact your clan leader and check back again later.</p>

<img src="~/Content/Images/Characters/Clash_Tutor.png" class="image-large">