
@{
    ViewBag.Title = "RequestRejected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request Rejected</h2>

<p>Your request has been rejected. Click here @Html.ActionLink("here", "JoinOrRegister") to try to join another clan or create your own.</p>


<img src="~/Content/Images/Characters/Clash_Tutor_Scared.png" class="image-large">